/maximum-coverage-location-master/002_data_OSG_NC/result_mid_part_gd
/maximum-coverage-location-master/002_data_OSG_NC/result_mid_11select7_100米范围_10米fishnetsize_全域_两种距离方式
/maximum-coverage-location-master/002_data_OSG_NC/result_mid_20select10_100米范围_10米fishnetsize_全域_两种距离方式
